:root{
    --CG-Blue: #227C9D;
    --Tiffany-Blue: #17C3B2;
    --Yellow-Red: #FFCB77;
    --Off-White: #FEF9EF;
    --Light-Coral: #FE6D73;
    --Light-Grey: #F0F0F0;
}

body{
    height: 100vh;
}

*{
    /* Definindo o valor de 1 rem para 10px */
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

header{
    background: var(--Tiffany-Blue);
    display: flex;
    vertical-align: middle;
    height: 10vh;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;

}
#main{
    width: 100vw;
}

.input-group{
    width: 100vw;
    height: 90vh;
}

#label-tema{
    font-size: 2vh;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

#tema{
    height: 5.5rem;
    width: 80vw;
    border-radius: 1rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    border: none;
    background-color: var(--Light-Grey);
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.input-group button{
    background: var(--Tiffany-Blue);
    border-radius: 1.3rem;
    border: none;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 12px 10px;
    /*align-items: flex-end;*/
}

::placeholder{
    padding-left: 1vw;
}
